@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    margin: 20px;
    background-color: #2c2c2c;
}

#summary-container {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 15px;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 30px;
    width: 700px;
}

h1 {
    color: #ddd;
    text-align: center;
}

#loading-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    color: white;
  }

  button {
    border: none; /* Removing the border from the button */
    border-radius: 4px;
    background-color: #629efe;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 15px;
    margin-top: 80px;
  }
  
  button:hover {
    background-color: #555;
  }
  
  button:active {
    background-color: #777;
  }
